// _mixins.scss

//* Main
@mixin dimension
{
  width: 90%;
  max-width: 1000px;
}

//*----------------- Navigate -----------------*/
@mixin top ($top)
{
  -webkit-box-shadow: $top;
  -moz-box-shadow: $top;
  box-shadow: $top;
}
//*-----------------Teaser-----------------*/

//*----------------- Invitation -----------------*/
@mixin invite ($convex)
{
  -webkit-box-shadow: $convex;
  -moz-box-shadow: $convex;
  box-shadow: $convex;
}
@mixin email-input($email)
{
  -webkit-box-shadow: $email;
  -moz-box-shadow: $email;
  box-shadow: $email;
}
@mixin submit-input($submit)
{  -webkit-box-shadow: $submit;
  -moz-box-shadow: $submit;
  box-shadow: $submit;
}

//*-------------Team------------*/