// _scss


//* variable */
$bar_bg: #42BA85;
$A_logo: #394e7d;
$B_logo: #2d3d62;


  //* Main
@mixin dimension
{
  width: 90%;
  max-width: 1000px;
}

//*----------------- Navigate -----------------*/


@mixin top ($top)
{
  -webkit-box-shadow: $top;
  -moz-box-shadow: $top;
  box-shadow: $top;
}
@mixin menu_button
{
  font-weight:bold;
  padding: 2px;
  cursor: pointer;
  border-radius: 4px;
}

@mixin m-b-s ($menu-b-sh)
{
  -webkit-box-shadow: $menu-b-sh;
  -moz-box-shadow: $menu-b-sh;
  box-shadow: $menu-b-sh;
}
//*-----------------Teaser-----------------*/

//*----------------- Invitation -----------------*/
@mixin invite ($convex)
{
  -webkit-box-shadow: $convex;
  -moz-box-shadow: $convex;
  box-shadow: $convex;
}
@mixin email-input($email)
{
  -webkit-box-shadow: $email;
  -moz-box-shadow: $email;
  box-shadow: $email;
}
//@mixin submit-input($submit)
//{  -webkit-box-shadow: $submit;
//  -moz-box-shadow: $submit;
//  box-shadow: $submit;
//}

//*-------------Team------------*/