// _variable.scss

//*----------------- Navigate -----------------*/
$bar_bg: #42BA85;
$A_logo: #394e7d;
$B_logo: #2d3d62
//*-----------------Teaser-----------------*/

//*----------------- Invitation -----------------*/

//*-------------Team------------*/