/*Kolory
#42BA85
#000000
#ffffff
#394e7d
*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}
main {
    width: 90%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.teaser {
    height: 200px;
    float: left;
}

.right {
    float: right;
}
img.teaser {
    padding: 10px;
}
.logo{
    height: 50px;
    background-color: #42BA85;
}