/*Kolory
#42BA85
#000000
#ffffff
#394e7d
*/
html, body {
    margin: 0;
    padding: 0;
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
p, span, a, li {
    font-family: 'Roboto', sans-serif;
}
main {
    width: 90%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100%;
}
.logo{
    height: 50px;
    background-color: #42BA85;
}
header {
    position: fixed;
    display: block;
    width: 100%;
}
.empty {
    clear: both;
}
/*-----------------Teaser-----------------*/
article.teaser {
    height: 80vh;
    padding-bottom: 5vh;
    padding-top: 15vh;
}
@media (min-width: 523px) {
    h1.teaser.piggy {
        height: 20vh;
        padding-left: 25vh;
        display: flex;
        align-items: center;
        background-image: url("../img/skarbonka.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 20vh;
    }
    h1.teaser.chart {
        height: 20vh;
        padding-right: 25vh;
        display: flex;
        align-items: center;
        background-image: url("../img/wykres.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: 20vh;
    }
    h1.teaser.dollarpot {
        height: 20vh;
        padding-left: 25vh;
        display: flex;
        align-items: center;
        background-image: url("../img/wzrost.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 17vh;
    }
}
@media (max-width: 522px) {
    h1.teaser.piggy {
        padding-top: 14vh;
        font-size: small;
        display: flex;
        align-items: center;
        background-image: url("../img/skarbonka.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 12vh;
    }
    h1.teaser.chart {
        padding-top: 14vh;
        font-size: small;
        display: flex;
        align-items: center;
        background-image: url("../img/wykres.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 12vh;
    }
    h1.teaser.dollarpot {
        padding-top: 14vh;
        font-size: small;
        display: flex;
        align-items: center;
        background-image: url("../img/wzrost.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 12vh;
    }
 }

/*----------------- Invitation -----------------*/
article.invite  {
    height: 80vh;
    padding-bottom: 10vh;
    padding-top: 10vh;

}


div.invite
{

    margin: 20% auto;
    border-radius: 5px;
    padding: 5%;
    min-height: 100px;
    width: 60%;    /*tymczasowy*/
    min-width: 200px;
    text-align: center;
    background-color:#6ccba1;
    -webkit-box-shadow: 10px 10px 21px 1px rgba(105,147,128,0.8);
    -moz-box-shadow: 10px 10px 21px 1px rgba(105,147,128,0.8);
    box-shadow: 10px 10px 21px 1px rgba(105,147,128,0.8);

}

input[type=email]
{
    width: 66%;
    min-width: 180px;
    color: #666;
    background-color: #f2f2f2;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    font-size: 140%;
    padding: 1%;
    margin-top: 2vw;
    outline: none;
}

input[type=email]:focus
{
    -webkit-box-shadow: 0 0 15px 1px rgba(105,147,128,0.8);
    -moz-box-shadow: 0 0 15px 1px rgba(105,147,128,0.8);
    box-shadow: 0 0 15px 1px rgba(105,147,128,0.8);
    border: 2px solid #b2d4b2;
    background-color: #e9f3f9;
}

input[type=submit]
{
    min-width: 180px;
    color: #f8f8f8;
    background-color: #5470b1;
    font-size: 140%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 1%;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

input[type=submit]:hover
{
    background-color:#2e61d7;
}

input[type=submit]:focus
{
-webkit-box-shadow: 0 0 15px 1px rgba(84,112,177,0.8);
-moz-box-shadow: 0 0 15px 1px rgba(84,112,177,0.8);
box-shadow: 0 0 15px 1px rgba(84,112,177,0.8);
}

/*-------------Team------------*/

article.team {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section.team {
    display: inline-block;
    width: 45%;
    text-align: center;
    padding: 2%;
    min-width: 200px;
}

.img-team {
    border-radius: 50%;
    width: 35%;
}
/*-------------Rules------------*/
#rules, #privacy_policy{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

ol.rules {
    padding: 5%;
    width: 70%;
    background: #fff;
    text-align: justify;
    margin: auto;
}

section#rules > ol {
    list-style-type: upper-roman;
}
a.rules {
    margin-top: -4%;
    float: right;
}

#privacy_policy:not(:target), #rules:not(:target) {
    visibility: hidden;
    opacity: 0;
}
#privacy_policy:target, #rules:target {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s, visibility 1s;
}
/*-------------Footer------------*/

footer {
    height: 5vh;
    background-color: #42BA85;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
span.footer {
    padding: 0 10%;
}
a.footer {
    padding: 0 10%;
    color: black;
}
a.footer:hover {
    font-weight: bold;
    color: black;
}
a.footer:visited{
    color: black;
}