@import 'scss/_scss.scss';

/*Kolory
#42BA85
#000000
#ffffff
#394e7d
*/
html, body {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  line-height: 0;
}

h1 {
  font-size: 2em;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Raleway', sans-serif;
  font-weight: normal;  }

nav ul a{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;}

p, span, a, li {
  font-family: 'Roboto', sans-serif;  }

main {
  @include dimension;
  margin-right: auto;
  margin-left: auto;
  min-height: 100%;}

.empty {
  clear: both; }

/*----------------- Navigate -----------------*/
header {
  position: fixed;
  display: block;
  width: 100%;
  @include top( 0 1px 1px 0 $A_logo); }

nav.navbar {
  box-sizing: content-box;
  @include dimension;
  margin: 0 auto;
  background-size: contain;
  background-position: left top;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  list-style-type: none;
  font-size: 16px;
  min-height: 36px}

article.bar {
  padding-bottom: 2px;
  background-color: $bar_bg;
  max-height: 45px;}

input[type="checkbox"] {
  display: none; }

@media screen and (min-width: 801px) {
  nav ul {
    margin: 0;
    line-height: 230%;
    text-align: right;
  padding-top: 0}

  nav ul > li {
    display: inline-flex;
    padding-right: 2px; }

  nav ul > li:first-child {
    padding-left: 2px; }

  nav ul a {
    width: 99px;
    text-decoration: none;
    color:  $B_logo;
    text-align: center;
    cursor: pointer;}

  nav ul a:hover {
    background-color: $A_logo;
    text-decoration: none;
    color: #fff;
  border-radius: 2px;} }

@media screen and (max-width: 800px) {
  input[type="checkbox"] {
    display: inline; }

  nav {
    display: none; }

  nav ul > li {
    list-style-type: none; }

  nav ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 2px; }

  input[type="checkbox"]:checked + nav {
    display: block; }

  article.bar {
    min-height: 36px;
    max-height: 164px;
    line-height: 1.42857143;}

  #c1:before {
    width: 30px;
    height: 30px;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color:  $B_logo;
    background-color: white;
    content: '\2228';
    @include menu_button;
    @include m-b-s(inset 1px 1px 3px 0 rgba(0,0,0,0.55)); }

  #c1:checked:before {
    @include menu_button;
    @include m-b-s(inset 1px 1px 3px 0 rgba(0,0,0,0.45));
    content: '\2227'; }

  nav ul a {
    display: block;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    text-align: center; }

  nav ul a:hover {
    color:$A_logo;
    text-decoration: none;}

  nav.navbar {
    background-image: none; } }

/*-----------------Teaser-----------------*/
@media screen and (max-width:768px){
  article.teaser {
    padding-top: 15%;
  }
  section.teaser {
    max-width: 100%;
  }
  section.teaser img {
    max-width: 200px;
    width: 100%;
  }
  section.teaser h1 {
    text-align: center;
  }
}

@media screen and (min-width:769px){
  article.teaser {
    padding-top: 15%;
  }
  section.teaser {
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  section.teaser img {
    max-width: 200px;
    width: 100%;
  }
}
/*----------------- Invitation -----------------*/
article.invite  {
  padding-bottom: 10vh;
  padding-top: 10vh;  }

div.invite {
  margin: 20% auto;
  border-radius: 5px;
  padding: 5%;
  min-height: 100px;
  width: 60%;
  min-width: 200px;
  text-align: center;
  background-color: #6ccba1;
  @include invite(10px 10px 21px 1px rgba(105,147,128,0.8));
}

input[type="email"] {
  width: 66%;
  min-width: 180px;
  color: #666;
  background-color: #f2f2f2;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  font-size: 140%;
  padding: 1%;
  margin-top: 2vw;
  outline: none; }

input[type="email"]:focus {
  border: 2px solid #b2d4b2;
  background-color: #e9f3f9;
  @include email-input(0 0 15px 1px rgba(105,147,128,0.8)); }

input[type="submit"] {
  min-width: 180px;
  color: #f8f8f8;
  background-color: #5470b1;
  font-size: 140%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 1%;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  line-height: 1.42857143;}

input[type="submit"]:hover {
  background-color: #2e61d7; }

input[type="submit"]:focus {
  @include  submit-input(0 0 15px 1px rgba(84,112,177,0.8)); }

@media (max-width: 570px) {
  h3 {
    font-size:16px;
  }
  input[type="submit"] {
    font-size: 105%;
    text-align: center;
  }
  input[type="email"] {
    font-size: 105%
  }
}

/*-------------Function List --------- */
article.functionlist {

  padding-top: 1vh;
  padding-bottom: 5vh;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 1.1;
}

article.functionlist {
  font-size: 135%;
}
section.functionlist h1:first-letter {
  color: #42BA85;
  font-size: 200%;

}
section.functionlist p {
  padding-left: 40%;
}

h1.functionlist {
  text-align: center;}

/*-------------Team------------*/
article.team {
  padding-top: 10vh;
  padding-bottom: 10vh; }

section.team {
  display: inline-block;
  width: 45%;
  text-align: center;
  padding: 2%;
  min-width: 200px; }

.img-team {
  border-radius: 50%;
  width: 35%; }

/*-------------Rules------------*/
#rules, #privacy_policy{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  line-height: 1.1;
}

ol.rules {
  padding: 5%;
  width: 70%;
  background: #fff;
  text-align: justify;
  margin: auto;

}

section#rules > ol {
  list-style-type: upper-roman;
}

.cross_btn {
  position: relative;
}
a.rules {
  position: absolute;
  top: 3%;
  right: 16%;
}

#privacy_policy:not(:target), #rules:not(:target) {
  visibility: hidden;
  opacity: 0;
}
#privacy_policy:target, #rules:target {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s, visibility 1s;
}

/*-------------Footer------------*/

footer {
  background-color:  $bar_bg;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content:space-around;
  align-items: center;
  line-height: 1.42857143;
}
span.footer {
  padding: 0 10%;
}
a.footer {
  padding: 0 10%;
  color: black;
}
a.footer:hover {
  font-weight: bold;
  color: black;
}
a.footer:visited{
  color: black;
}

/*# sourceMappingURL=style.css.map */